.Navbar {
	display: none !important;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, code, form, div, fieldset, legend, button, input, textarea, th, td {
	margin: 0;
	padding: 0;
}
fieldset, img {
	border: 0;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
address, caption, cite, code, dfn, em, strong, th, var, optgroup {
	font-style: normal;
	font-weight: normal;
}
#blog_title, .post_title, h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
abbr, acronym {
	border: 0;
	font-variant: normal;
}
input, button, textarea, select, optgroup, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}
code, kbd, samp, tt {
	font-size: 100%;
}
/*@purpose To enable resizing for IE */
input, button, textarea, select {
	font-size: 100%;
}
body {
	line-height: 1.2;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th {
	text-align: left;
}
sup, sub {
	font-size: 100%;
	vertical-align: baseline;
}
/* remember to highlight anchors and inserts somehow! */
ins {
	text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
/* Define */
h1 {
	font-size: 2.8em;
}
h2, h3 {
	font-size: 2em;
}


h4 {
	font-size: 1.3em;
	text-align:center;
	font-style:bold;
}


h5 {
	font-size: 1.3em;
	text-align:center;
	font-style:italic;
}

h6 {
	color: #572609;
	font-size: 1.3em;
	text-align:left;
		
}



a {
	text-decoration: none;
}
blockquote {
	margin: 5px 20px;
	padding: 5px;
}
blockquote p, code {
	padding: 10px 20px;
	display: block;
}
code {
	display: block;
	margin: 5px 20px;
}
strong, em, caption, th {
	font-style: normal;
	font-weight: bold;
}
cite {
	font-style: italic;
	font-weight: normal;
}
sub, sup {
	font-size: .8em;
}
sub {
	vertical-align: sub;
}
sup {
	vertical-align: super;
}
small {
	font-size: 1em;
}
:focus {
	outline: 1px #666 dotted;
}
input:focus, div:focus {
	outline: 0;
}
input {
	margin: 3px;
	vertical-align: middle;
}
/* Layout */
body {
	font-size: 62.5%; /* Resets 1em to 10px */
	color: #000;
	background: #fff;
	line-height: 1.3;
}
#outer-wrapper, #wrap2, #wrap4, #header-wrapper, #content-wrapper, #footer-wrapper {
	margin: 0 auto;
}
#header-wrapper {
	position: relative;
}
/* Wordpress */
.entry p {
	margin: 10px 0 10px 0;
	text-align:justify;
	font-size: 1.4; /* Menu Font Size */


color: #572609;

}
.entry ul {
	padding-left: 20px;
	list-style-type: square;
	text-align:justify;
	font-size: 1.4; /* Menu Font Size */


color: #572609;
}
.entry ol {
	padding-left: 25px;
	list-style-type: decimal;
}
.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6 {
	font-weight: bold;
	margin: 5px 0;
	color: #572609;
}

.entry h7, .entry h8 {
	font-weight: bold;
	margin: 5px 0;
	color: #FD8F3E;
}

 .entry h8 {
font-size: 1.4; /* Menu Font Size */
font-weight: bold;
line-height: 2;
color: #572609;
text-align: justify;
 }


acronym, abbr, span.caps {
	font-size: 0.9em;
	letter-spacing: .07em;
	cursor: help;
	border-bottom: 1px dashed #666;
}
.endline {
	clear: both;
}
/* Images */
p img {
	max-width: 100%; /* not working in IE6 */
}
img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
}
img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
}
.alignright {
	float: right;
}
.alignleft {
	float: left
}
/* Captions */
.aligncenter, div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
}
.wp-caption img {
	border: 0 none;
}
.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
}
/* Clear Fix */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
/* Hide from IE Mac \*/
.clearfix {
	display: block;
}
/* End hide from IE Mac */
/* end of clearfix */
/* Global */
body {
	color: #000;
	background: #FFEEBA url(/media/images/body_bg.jpg) center top repeat-y;
	font-family: Verdana, Geneva, sans-serif;
}
a, .post a {
	text-decoration: none;
	color: #000;
}
a:hover, .post a:hover {
	color: #900;
	text-decoration: none;
}
#blog_title, .post-title, h1, h2, h3, h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
blockquote, code {
	color: #333;
	font-family: Verdana, Geneva, sans-serif;
	border: 1px dashed #999;
}
blockquote {
	background: #F8F4AB;
}
code {
	background: #F5D582;
}
/* Layout */
#outer-wrapper {
	min-width: 998px; /* not working in IE6 */
	overflow: hidden;
	background: url(/media/images/container_bg.jpg) repeat-y center top;
}
#wrap2 {
	padding: 0 0 5px 0;
	background: url(/media/images/bottom_frame.jpg) no-repeat center bottom;
}
#wrap4 {
	background: url(/media/images/top_frame.jpg) no-repeat center top;
}
#wrap5 {
	margin: 0 auto;
	
}
#header-wrapper, #content-wrapper, #footer-wrapper {
	width: 998px;
}
#header-wrapper {
	height: 445px;
	background: url(/media/images/index_01.jpg) no-repeat center top ;
}
#content-wrapper {
	
	padding: 0px 0 70px 0;
}
#footer-wrapper {
	clear: both;
	height: 52px;
	position: relative;
	text-align: center;
}


.content_column_box{
	
}

.content_column1{
	float: left;
	width: 170px;
	text-align:justify;

}

.content_column2{
	float: left;
	width: 170px;
	
	text-align:justify;
}

.content_column3{
	float: left;
	width: 170px;
	text-align:justify;
	
}




/* Footer */
.credit {
	font-size: 1.1em;
	text-align: center;
	padding: 0px 0px 0px 0px;
}
.credit, .credit a, .credit a:hover {
	color: #A4926E;
}
/* Header */
#header-wrapper #blog_title {
	font-size: 3em; /* Blog Title */
	padding: 44px 500px 0px 108px;
	text-align: left;
}
#header-wrapper h2 {
	font-size: 1.7em; /* Blog Description */
	text-align: left;
	padding: 0px 200px 0px 110px;
}
#header-wrapper #blog_title, #header-wrapper #blog_title a, #header-wrapper h2 {
	color: #572609;
}
/* menu */
#menu {
	
	float: right;
    position: relative;
    right: 50px;
    top: -40px;
    z-index: 1000;
    height: 25px;
    
}
#menu ul li {
	padding: 0 16px;
	font-size: 1.4em; /* Menu Font Size */
	font-weight: bold;
	text-align: center;
	float: left;
	background: url(/media/images/nav_bg.jpg) no-repeat left 9px;
}
#menu ul li.menu_first {
	background: none;
}
#menu ul li a {
	padding: 0px 0 0px 0px;
	line-height: 2;
	color: #572609;
}


#menu ul li a:hover {
	color: #900;
}
#menu ul ul li {
	font-size: 1em;
}
/* searchform */
#searchform {
	background: url(/media/images/search_bg.jpg) no-repeat;
	overflow: hidden;
	margin-bottom: 10px;
}
.searchtext {
	width: 139px;
	color: #000;
	border: 0;
	font-size: 1.2em;
	background: url(/media/images/spacer.gif);
	padding: 0;
	margin: 4px 6px 0px 5px;
	float: left;
}
#searchsubmit {
	border: 0;
	margin: 0 0 0px 0;
	width: 45px;
	height: 25px;
	float: left;
}
#rss {
	position: absolute;
	left: 866px;
	top: 47px;
}
#rss img {
	width: 49px;
	height: 53px;
}
/* Content */
#main-wrapper {
	width: 590px;
	padding: 10px 0px 0 0px;
	display: inline;
	margin: 0 77px 0 0;
	float: right;
}
.post {
	padding: 7px 0 10px 0;
	margin: 0px 0 30px 0px;
	
}
.post .post-title {
	margin: 0px 5px 0 0px;
	padding: 4px 20px 4px 0px;
	font-size: 2em; /* Post Title */
	background: url(/media/images/post_header_bg.jpg) no-repeat left bottom;
	font-family: Georgia;
}
.post .post-title a {
	color: #301F17;
}
.post .post-title a:hover {
	color: #900;
}
.edit_post {
	width: 83%;
	color: #333;
	margin: 0 auto;
	margin-top: 10px;
	padding: 5px 10px;
	background: #ffc;
	border: 1px dashed #999;
}
.edit_post a {
	font-style: italic;
	color: #33C;
}
.edit_post a.post-edit-link {
	margin-right: 15px;
	font-style: normal;
	color: #E5631C;
	text-decoration: underline;
}
.edit_post a:hover.post-edit-link {
	color: #33c;
}
.post_path span {
	color: #706ED6;
}
.post_path a:hover {
	text-decoration: underline;
}
.postmetadata a {
	text-decoration: underline;
}
.entry {
	width: 546px;
	overflow: hidden;
	margin: 0 auto;
	padding: 10px 0;
	font-size: 1.2em;
}
.entry a {
	color: #1f85da;
	text-decoration: underline;
}
.tags, .tags a, .postmetadata, .postmetadata a {
	color: #7D7D7D;
}
.post_path {
	font-size: 1.1em;
	margin: 0 0 0 22px;
	padding: 7px 7px 12px 15px;
	background: url(/media/images/arrow.gif) left 10px no-repeat;
}
.postmetadata {
	padding: 2px 22px 0 22px;
	text-align: right;
	font-size: 1.1em;
}
.tags {
	font-size: 1.2em;
	margin: 10px 30px 0 22px;
}
.tags a {
	text-decoration: underline;
}
.read_comments {
	margin: 0px 18px 0 0px;
	text-align: right;
	font-weight: bold;
	padding: 17px 0px 17px 22px;
}
.bookmark {
	margin: 18px 0 0 22px;
}
.wp-pagenavi {
	padding: 5px 36px 5px 22px;
	line-height: 20px;
}
.post-footer {
	padding: 10px 22px;
}
.read_comments a {
	font-size: 1.2em;
	color: #693B24;
	padding: 5px 10px 5px 10px;
	background-color: #ffeeba;
	border: 1px solid #ffeeba;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.read_comments a:hover {
	color: #000;
}
.notfound {
	margin: 100px auto;
	text-align:center;
	font-size: 4em;
	font-weight: bold;
	color: #7e2d17;
}
/* welcome */
#welcome {
	color: #9A6634;
	font-weight: bold;
	font-size: 11px;
	padding: 0px;
	position: absolute;
	left: 220px;
	top: 215px;
}
#welcome p {
	width: 175px;
	height: 188px;
	padding: 0px 0 0px 0px;
	overflow: hidden;
}
/* Sidebar */
#sidebar-wrapper {
	width: 203px;
	display: inline;
	padding: 68px 0px 66px 0px;
	margin: 0px 0px 0px 79px;
	overflow: hidden;
	float: left;
	position: relative;
	color: #7D7D7D;
}
#sidebar_main {
	padding: 0px 0 0px 0;
	margin: 0px 0 0 0;
}
#sidebar_main h2 {
	padding: 0px 20px 4px 0px;
	font-size: 16px;
	color: #FD8F3E;
	position: relative;
	font-family: Georgia;
}
#sidebar_main .widget {
	overflow: hidden;
	font-size: 1.2em;
	padding: 3px 0 12px 3px;
}
#sidebar_main ul li a {
	color: #7D7D7D;
}
#sidebar_main ul li a:hover {
	color: #a00;
}
#sidebar_main .widget-content {
	padding: 0 0 0 9px;
	background: none;
}
#sidebar_main ul ul li {
	font-size: 1em;
	border: none;
	padding: 6px 0px 6px 15px;
	
	position: relative;
	border-bottom: 1px solid #e4e4e4;
}
#sidebar_main ul ul ul {
	padding: 0;
	margin: 0;
}
#sidebar_main ul ul ul li {
	font-size: 1em;
	margin: 0;
	width: 80%;
	border-bottom: 0;
}
#sidebar_main .textwidget {
	margin: 7px 0;
}
#sidebar-wrapper select {
	font-size: 1em;
	margin: 7px 0;
	width: 95%;
}
#sidebar-wrapper ul li div, #sidebar_ul li object {
	padding: 0 0px;
}
#sidebar-wrapper ul li div div {
	padding: 0;
}
/* PageNavi*/
.wp-pagenavi a {
	padding: 2px 4px;
	margin: 2px;
	text-decoration: none;
	border: 1px solid #06c;
	color: #06c;
	background-color: #fff;
}
.wp-pagenavi a:hover {
	border: 1px solid #000;
	color: #000;
}
.wp-pagenavi span.pages, .wp-pagenavi span.current, .wp-pagenavi span.extend {
	padding: 2px 4px;
	margin: 2px;
	border: 1px solid #000;
	color: #000;
	background-color: #fff;
}
/* Calendar */
#wp-calendar {
	empty-cells: show;
	margin: 0px auto 0;
	margin-bottom: 15px;
	width: 100%;
	color: #601006;
}
#wp-calendar #next a {
	padding-right: 10px;
	text-align: right;
	font-size: 11px;
}
#wp-calendar #prev a {
	padding-left: 10px;
	text-align: left;
	font-size: 11px;
}
#wp-calendar a {
	display: block;
	font-weight: bold;
	text-decoration: none;
}
#wp-calendar a:hover {
	background: #fc0;
	color: #000;
}
#wp-calendar caption {
	text-align: center;
	padding-bottom: 10px;
	width: 100%;
	font: bold 13px Verdana, Arial, Sans-Serif;
}
#wp-calendar td {
	text-align: center;
	padding: 3px 0;
	font-size: 12px;
	text-align: center;
}
#wp-calendar th {
	text-align: center;
	font-style: normal;
	font-size: 12px;
	text-transform: capitalize;
}
/* Social Bookmarking */
.bookmark ul {
	display: inline;
}
.bookmark ul li {
	background: none;
	display: inline;
	list-style-type: none;
}
.bookmark_line img {
	border: 0;
}
/* Comments */
h3#comments {
	padding: 0 0 0 46px;
}
h3#comments, #respond h3 {
	padding-top: 10px;
	font-size: 1.4em;
	color: #333;
}
#commentform {
	margin: 5px 0 0 0px;
}
#commentform input {
	width: 170px;
	padding: 2px;
	margin: 5px 5px 1px 0;
	font: 0.9em 'Lucida Grande', Verdana, Arial, Sans-Serif;
}
#commentform textarea {
	width: 98%;
	padding: 2px;
	font: 0.9em 'Lucida Grande', Verdana, Arial, Sans-Serif;
}
#commentform p {
	margin: 5px 0;
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
}
#commentform #submit {
	margin: 0 0 5px auto;
	float: right;
}
#respond {
	width: 85%;
	padding: 0 0 0 10px;
	color: #333;
	margin: 0 auto;
}
#respond:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.commentlist {
	padding: 0 0 0 0px;
	margin: 0 auto;
	width: 85%;
}
.commentlist li {
	margin: 15px 0 0px;
	padding: 5px 5px 10px 10px;
	list-style: none;
	font-weight: bold;
	font: 0.9em 'Lucida Grande', Verdana, Arial, Sans-Serif;
}
.commentlist li ul li {
	margin-right: -5px;
	margin-left: 10px;
	font-size: 1em;
}
.commentlist p {
	margin: 10px 5px 10px 0;
	font-weight: normal;
	line-height: 1.5em;
	font-size: 1.2em;
	text-transform: none;
}
.commentlist li .avatar {
	float: right;
	border: 1px solid #333;
	padding: 2px;
	background: #fff;
}
.commentlist li a {
	color: #000;
}
.commentlist cite, .commentlist cite a {
	font-weight: bold;
	font-style: normal;
	font-size: 1.2em;
}
#main-wrapper .comment-body p a {
	text-decoration: underline;
}
.nocomments {
	text-align: center;
}
.commentmetadata {
	font-size: 1.2em;
	display: block;
	font-weight: normal;
}
.thread-alt {
	background-color: #dcbea4;
}
.thread-even {
	background-color: #e3cbb3;
}
.depth-1 {
	border: 1px solid #000;
}
.alt {
	border-left: 1px solid #666; /* odd page */
	background-color: #C29581;
	padding: 10px;
}
.even {
	border-left: 1px solid #666; /* even page */
	background-color: #D0AD9E;
}
/* For Blogger */ #sidebar_main ul li div {
	padding: 0;
	margin:0;
}
#sidebar_main ul ul {
	background: none;
}
#sidebar_sub ul li div {
	padding: 0;
	margin: 0;
}
#comments {
	width: 85%;
	margin: 0 auto;
}
#sidebar-wrapper #sidebar-main {
	margin: 0;
	padding: 0;
}
#sidebar_sub #sidebar-sub {
	margin: 0;
	padding: 0;
}
#welcome1 .widget {
	padding: 0;
	margin: 0;
}
#sidebar-wrapper #ArchiveList ul li {
	padding-left: 0;
}
#sidebar-wrapper #ArchiveList ul ul li {
	padding-left: 8px;
}
body#layout #searchform {
	display: none;
}
body#layout #rss {
	display: none;
}
#ArchiveList ul li {
	text-indent: 0!important;
}
#comments {
	padding-left: 15px;
}
#comments h4 {
	margin:1em 0;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1.4em;
	text-transform:uppercase;
	letter-spacing:.2em;
	color: #999999;
}
#comments-block {
	margin:1em 0 1.5em;
	line-height:1.6em;
}
#comments-block .comment-author {
	margin:.5em 0;
}
#comments-block .comment-body {
	margin:.25em 0 0;
}
#comments-block .comment-footer {
	margin:-.25em 0 2em;
	line-height: 1.4em;
	text-transform:uppercase;
	letter-spacing:.1em;
}
#comments-block .comment-body p {
	margin:0 0 .75em;
}
.deleted-comment {
	font-style:italic;
	color:gray;
}
#blog-pager-newer-link {
	float: left;
}
#blog-pager-older-link {
	float: right;
}
#blog-pager {
	padding: 0 15px;
	text-align: center;
}
.feed-links {
	display:none;
}
#calendarDisplay {
	display: none;
}
#bcalendar {
	width: 100%;
}
#bcNavigation {
	display: none;
}
.BlogArchive ul ul ul li {
	width: 100%;
}


/* (CSS End) */

/*=================================*/
/* Nivo Slider Demo
/* November 2010
/* By: Gilbert Pellegrom
/* http://dev7studios.com
/*=================================*/


#slider-wrapper {
   
    width:655px;
    height: 330px;
    margin:9px 300px;
}

#slider {
	position:absolute;
    width: 655px;
    height: 330px;
	background:url(/media/images/loading.gif) no-repeat 50% 50%;
	}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#slider a {
	border:0;
	display:block;
}

.nivo-controlNav {
	position:absolute;
	left:60px;
	bottom:-42px;
	display: none;
}
.nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(/media/images/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	
}
.nivo-controlNav a.active {
	background-position:0 -22px;
}

.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(/media/images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}

.nivo-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a { 
    color:#efe9d1;
    text-decoration:underline;
}

.accent-color {
	color: #CC0000;
}

.text-center {
	text-align: center !important;
}